.landing_page {
  background: #F3F0D7;
  height: 100%;
}

.landing_page_toinput_btn {
  border-radius: 50%;
  position: absolute;
  right: 0%;
  transform: translate(-50%, -50%);
  bottom: 0px;
  height: 70px;
  width: 70px;
  background: #1abc9c;
  color: white;
  border: none;
  text-align: center;
  font-size: large;
  cursor: pointer;
}
