.RecipeItem__container {
  border-radius: 10px;
  padding: 10px;
}

.RecipeItem__summary {
  /* text-overflow: clip; */
  /* text-overflow: ellipsis; */
  /* text-overflow: "…"; */
}
/* .RecipeItem__container {
  width: 300px;
}  */

.RecipeItem__name {
  text-align: center;
  font-family: cursive;
}

.RecipeItem__name:after {
  content: " ";
  display: block;
  border: 1px solid black;
}
