.swiperSlide {
  width: 250px;
  height: 200px;
  border-radius: 25px;
  background-image: linear-gradient(
    to right bottom,
    #ff7878,
    #fd7e75,
    #fb8373,
    #f88971,
    #f58e70,
    #f58e70,
    #f58e70,
    #f58e70,
    #f88971,
    #fb8373,
    #fd7e75,
    #ff7878
  );
  /* overflow: hidden; */
}

.RecipeList__container {
  margin: 10px;
}

.RecipeList__header {
  text-align: left;
  color: white;
  font-size: 2.2em;
  font-weight: 800;
  text-shadow: 2px 2px #e0c097;
}
