.WebcamContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 97;
  pointer-events: none;
}
.WebCamCanvas {
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 98;
}

.WebcamCaptureButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 10%;
  background-color: rgba(243, 240, 215, 0.5);
  border-radius: 10px;
  font-size: 2em;
  color: #cee5d0;
  border: none;
  cursor: pointer;
  z-index: 99;
  pointer-events: initial;
}
